In [1]:
import pandas as pd
import os
import numpy as np

In [2]:
def check_file():
    for file in os.listdir():
        if file.endswith('.csv'):
            return file
    raise Exception('file not found')

In [3]:
check_file()

'Bengaluru_House_Data.csv'

In [4]:
file_name=check_file()

In [5]:
df=pd.read_csv(file_name)

In [6]:
df.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area_type     13320 non-null  object
 1   availability  13320 non-null  object
 2   location      13319 non-null  object
 3   size          13304 non-null  object
 4   society       7818 non-null   object
 5   total_sqft    13320 non-null  object
 6   bath          13247 non-null  float64
 7   balcony       12711 non-null  float64
 8   price         13320 non-null  float64
dtypes: float64(3), object(6)
memory usage: 936.7+ KB

In [8]:
for col in df.columns:
    print(df[col].value_counts())
    print('*'*20)

area_type
Super built-up  Area    8790
Built-up  Area          2418
Plot  Area              2025
Carpet  Area              87
Name: count, dtype: int64
********************
availability
Ready To Move    10581
18-Dec             307
18-May             295
18-Apr             271
18-Aug             200
                 ...
15-Aug               1
17-Jan               1
16-Nov               1
16-Jan               1
14-Jul               1
Name: count, Length: 81, dtype: int64
********************
location
Whitefield                        540
Sarjapur  Road                    399
Electronic City                   302
Kanakpura Road                    273
Thanisandra                       234
                                 ...
Bapuji Layout                       1
1st Stage Radha Krishna Layout      1
BEML Layout 5th stage               1
singapura paradise                  1
Abshot Layout                       1
Name: count, Length: 1305, dtype: int64
********************
size
2 BHK         5199
3 BHK         4310
4 Bedroom      826
4 BHK          591
3 Bedroom      547
1 BHK          538
2 Bedroom      329
5 Bedroom      297
6 Bedroom      191
1 Bedroom      105
8 Bedroom       84
7 Bedroom       83
5 BHK           59
9 Bedroom       46
6 BHK           30
7 BHK           17
1 RK            13
10 Bedroom      12
9 BHK            8
8 BHK            5
11 BHK           2
11 Bedroom       2
10 BHK           2
14 BHK           1
13 BHK           1
12 Bedroom       1
27 BHK           1
43 Bedroom       1
16 BHK           1
19 BHK           1
18 Bedroom       1
Name: count, dtype: int64
********************
society
GrrvaGr    80
PrarePa    76
Sryalan    59
Prtates    59
GMown E    56
           ..
Amionce     1
JaghtDe     1
Jauraht     1
Brity U     1
RSntsAp     1
Name: count, Length: 2688, dtype: int64
********************
total_sqft
1200    843
1100    221
1500    205
2400    196
600     180
       ...
3580      1
2461      1
1437      1
2155      1
4689      1
Name: count, Length: 2117, dtype: int64
********************
bath
2.0     6908
3.0     3286
4.0     1226
1.0      788
5.0      524
6.0      273
7.0      102
8.0       64
9.0       43
10.0      13
12.0       7
13.0       3
11.0       3
16.0       2
27.0       1
40.0       1
15.0       1
14.0       1
18.0       1
Name: count, dtype: int64
********************
balcony
2.0    5113
1.0    4897
3.0    1672
0.0    1029
Name: count, dtype: int64
********************
price
75.00     310
65.00     302
55.00     275
60.00     270
45.00     240
         ...
351.00      1
54.10       1
80.64       1
32.73       1
488.00      1
Name: count, Length: 1994, dtype: int64
********************

In [9]:
df.isnull().sum()

area_type          0
availability       0
location           1
size              16
society         5502
total_sqft         0
bath              73
balcony          609
price              0
dtype: int64

In [10]:
df.drop(columns=['area_type','availability','society','balcony'],inplace=True)

In [11]:
df.describe(include='all')

          location   size total_sqft          bath         price
count        13319  13304      13320  13247.000000  13320.000000
unique        1305     31       2117           NaN           NaN
top     Whitefield  2 BHK       1200           NaN           NaN
freq           540   5199        843           NaN           NaN
mean           NaN    NaN        NaN      2.692610    112.565627
std            NaN    NaN        NaN      1.341458    148.971674
min            NaN    NaN        NaN      1.000000      8.000000
25%            NaN    NaN        NaN      2.000000     50.000000
50%            NaN    NaN        NaN      2.000000     72.000000
75%            NaN    NaN        NaN      3.000000    120.000000
max            NaN    NaN        NaN     40.000000   3600.000000

In [12]:
pd.set_option('display.max_rows',80)
pd.set_option('display.max_columns',80)

In [13]:
df['location'].value_counts()

location
Whitefield                        540
Sarjapur  Road                    399
Electronic City                   302
Kanakpura Road                    273
Thanisandra                       234
                                 ...
Bapuji Layout                       1
1st Stage Radha Krishna Layout      1
BEML Layout 5th stage               1
singapura paradise                  1
Abshot Layout                       1
Name: count, Length: 1305, dtype: int64

In [14]:
df['location'].mode()[0]

'Whitefield'

In [15]:
df['location']=df['location'].fillna(df['location'].mode()[0])

In [16]:
df['size'].value_counts()

size
2 BHK         5199
3 BHK         4310
4 Bedroom      826
4 BHK          591
3 Bedroom      547
1 BHK          538
2 Bedroom      329
5 Bedroom      297
6 Bedroom      191
1 Bedroom      105
8 Bedroom       84
7 Bedroom       83
5 BHK           59
9 Bedroom       46
6 BHK           30
7 BHK           17
1 RK            13
10 Bedroom      12
9 BHK            8
8 BHK            5
11 BHK           2
11 Bedroom       2
10 BHK           2
14 BHK           1
13 BHK           1
12 Bedroom       1
27 BHK           1
43 Bedroom       1
16 BHK           1
19 BHK           1
18 Bedroom       1
Name: count, dtype: int64

In [17]:
df['size'].isna().sum()

16

In [18]:
df['size']=df['size'].fillna(df['size'].mode()[0])

In [19]:
df['size'].isna().sum()

0

In [20]:
df['total_sqft'].value_counts()

total_sqft
1200    843
1100    221
1500    205
2400    196
600     180
       ...
3580      1
2461      1
1437      1
2155      1
4689      1
Name: count, Length: 2117, dtype: int64

In [21]:
df['bath'].value_counts()

bath
2.0     6908
3.0     3286
4.0     1226
1.0      788
5.0      524
6.0      273
7.0      102
8.0       64
9.0       43
10.0      13
12.0       7
13.0       3
11.0       3
16.0       2
27.0       1
40.0       1
15.0       1
14.0       1
18.0       1
Name: count, dtype: int64

In [22]:
df['bath']=df['bath'].fillna(df['bath'].mode()[0])

In [23]:
df['price'].value_counts()

price
75.00     310
65.00     302
55.00     275
60.00     270
45.00     240
         ...
351.00      1
54.10       1
80.64       1
32.73       1
488.00      1
Name: count, Length: 1994, dtype: int64

In [24]:
df['price'].isna().sum()

0

In [25]:
df.head()

                   location       size total_sqft  bath   price
0  Electronic City Phase II      2 BHK       1056   2.0   39.07
1          Chikka Tirupathi  4 Bedroom       2600   5.0  120.00
2               Uttarahalli      3 BHK       1440   2.0   62.00
3        Lingadheeranahalli      3 BHK       1521   3.0   95.00
4                  Kothanur      2 BHK       1200   2.0   51.00

In [26]:
df['BHK']=df['size'].str.split(' ').str.get(0).astype(int)

In [27]:
df['total_sqft'].unique()

array(['1056', '2600', '1440', ..., '1133 - 1384', '774', '4689'],
      dtype=object)

In [28]:
def convert_range(price):
    temp=price.split('-')
    if len(temp)==2:
        return (float(temp[0])+ float(temp[1]))/2
    try:
        return float(price)
    except:
        return None

In [29]:
df['total_sqft']=df['total_sqft'].apply(convert_range)

In [30]:
df['price_per_sqft']=df['price']*100000/df['total_sqft']

In [31]:
df['location'].value_counts()

location
Whitefield                        541
Sarjapur  Road                    399
Electronic City                   302
Kanakpura Road                    273
Thanisandra                       234
                                 ...
Bapuji Layout                       1
1st Stage Radha Krishna Layout      1
BEML Layout 5th stage               1
singapura paradise                  1
Abshot Layout                       1
Name: count, Length: 1305, dtype: int64

In [32]:
df['location']=df['location'].apply(lambda x :x.strip())

In [33]:
location_count=df['location'].value_counts()

In [34]:
location_count

location
Whitefield                        542
Sarjapur  Road                    399
Electronic City                   304
Kanakpura Road                    273
Thanisandra                       237
                                 ...
Bapuji Layout                       1
1st Stage Radha Krishna Layout      1
BEML Layout 5th stage               1
singapura paradise                  1
Abshot Layout                       1
Name: count, Length: 1294, dtype: int64

In [35]:
location_count_10=location_count[location_count<=10]

In [36]:
df['location']=df['location'].apply(lambda x :'Other' if x in location_count_10 else x)

In [37]:
df['location'].value_counts()

location
Other                 2885
Whitefield             542
Sarjapur  Road         399
Electronic City        304
Kanakpura Road         273
                      ...
Nehru Nagar             11
Banjara Layout          11
LB Shastri Nagar        11
Pattandur Agrahara      11
Narayanapura            11
Name: count, Length: 242, dtype: int64

In [38]:
df.describe(include='all')

,location,size,total_sqft,bath,price,BHK,price_per_sqft
count,13320,13320,13274.000000,13320.000000,13320.000000,13320.000000,1.327400e+04
unique,242,31,NaN,NaN,NaN,NaN,NaN
top,Other,2 BHK,NaN,NaN,NaN,NaN,NaN
freq,2885,5215,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,1559.626694,2.688814,112.565627,2.802778,7.907501e+03
std,NaN,NaN,1238.405258,1.338754,148.971674,1.294496,1.064296e+05
min,NaN,NaN,1.000000,1.000000,8.000000,1.000000,2.678298e+02
25%,NaN,NaN,1100.000000,2.000000,50.000000,2.000000,4.266865e+03
50%,NaN,NaN,1276.000000,2.000000,72.000000,3.000000,5.434306e+03
75%,NaN,NaN,1680.000000,3.000000,120.000000,3.000000,7.311746e+03
max,NaN,NaN,52272.000000,40.000000,3600.000000,43.000000,1.200000e+07

In [39]:
df['total_sqft_per_bhk']=df['total_sqft']/df['BHK']

In [40]:
df.describe()

,total_sqft,bath,price,BHK,price_per_sqft,total_sqft_per_bhk
count,13274.000000,13320.000000,13320.000000,13320.000000,1.327400e+04,13274.000000
mean,1559.626694,2.688814,112.565627,2.802778,7.907501e+03,575.074878
std,1238.405258,1.338754,148.971674,1.294496,1.064296e+05,388.205175
min,1.000000,1.000000,8.000000,1.000000,2.678298e+02,0.250000
25%,1100.000000,2.000000,50.000000,2.000000,4.266865e+03,473.333333
50%,1276.000000,2.000000,72.000000,3.000000,5.434306e+03,552.500000
75%,1680.000000,3.000000,120.000000,3.000000,7.311746e+03,625.000000
max,52272.000000,40.000000,3600.000000,43.000000,1.200000e+07,26136.000000

In [41]:
df=df[df['total_sqft_per_bhk']>=300]

In [42]:
df

,location,size,total_sqft,bath,price,BHK,price_per_sqft,total_sqft_per_bhk
0,Electronic City Phase II,2 BHK,1056.0,2.0,39.07,2,3699.810606,528.00
1,Chikka Tirupathi,4 Bedroom,2600.0,5.0,120.00,4,4615.384615,650.00
2,Uttarahalli,3 BHK,1440.0,2.0,62.00,3,4305.555556,480.00
3,Lingadheeranahalli,3 BHK,1521.0,3.0,95.00,3,6245.890861,507.00
4,Kothanur,2 BHK,1200.0,2.0,51.00,2,4250.000000,600.00
...,...,...,...,...,...,...,...,...
13315,Whitefield,5 Bedroom,3453.0,4.0,231.00,5,6689.834926,690.60
13316,Other,4 BHK,3600.0,5.0,400.00,4,11111.111111,900.00
13317,Raja Rajeshwari Nagar,2 BHK,1141.0,2.0,60.00,2,5258.545136,570.50
13318,Padmanabhanagar,4 BHK,4689.0,4.0,488.00,4,10407.336319,1172.25
13319,Doddathoguru,1 BHK,550.0,1.0,17.00,1,3090.909091,550.00

In [43]:
def remove_outliers_sqft(df):
    df_output=pd.DataFrame()
    for key,sub_df in df.groupby('location'):
        m=np.mean(sub_df.price_per_sqft)
        std=np.std(sub_df.price_per_sqft)
        gen_df=sub_df[(sub_df.price_per_sqft>=(m-std)) & (sub_df.price_per_sqft<=(m+std))]
        df_output=pd.concat([df_output,gen_df],ignore_index=True)
    return df_output
data=remove_outliers_sqft(df)

In [44]:
data.head()

,location,size,total_sqft,bath,price,BHK,price_per_sqft,total_sqft_per_bhk
0,1st Block Jayanagar,4 BHK,2850.0,4.0,428.0,4,15017.543860,712.500000
1,1st Block Jayanagar,3 BHK,1630.0,3.0,194.0,3,11901.840491,543.333333
2,1st Block Jayanagar,3 BHK,1875.0,2.0,235.0,3,12533.333333,625.000000
3,1st Block Jayanagar,3 BHK,1200.0,2.0,130.0,3,10833.333333,400.000000
4,1st Block Jayanagar,2 BHK,1235.0,2.0,148.0,2,11983.805668,617.500000

In [45]:
def bhk_outlier_remover(df):
    exclude_indices=np.array([])
    for location,location_df in df.groupby('location'):
        bhk_stats={}
        for bhk,bhk_df in location_df.groupby('BHK'):
            bhk_stats[bhk]={
                'mean':np.mean(bhk_df.price_per_sqft),
                'std':np.std(bhk_df.price_per_sqft),
                'count':bhk_df.shape[0]
            }
        for bhk,bhk_df in location_df.groupby('BHK'):
            stats=bhk_stats.get(bhk-1)
            if stats and stats['count']>=5:
                exclude_indices=np.append(exclude_indices,bhk_df[bhk_df.price_per_sqft<(stats['mean'])].index.values)
    print(exclude_indices)
    return df.drop(exclude_indices,axis='index')

In [46]:
data=bhk_outlier_remover(data)

[1.1000e+01 7.0000e+00 2.3000e+01 ... 1.0297e+04 1.0300e+04 1.0251e+04]

In [47]:
data.describe()

,total_sqft,bath,price,BHK,price_per_sqft,total_sqft_per_bhk
count,7151.000000,7151.000000,7151.000000,7151.000000,7151.000000,7151.000000
mean,1503.712686,2.455740,100.190092,2.509719,6167.477242,597.790718
std,875.951503,1.020883,94.339232,0.938014,2421.213671,231.159920
min,300.000000,1.000000,10.000000,1.000000,1300.000000,300.000000
25%,1092.000000,2.000000,50.515000,2.000000,4652.112008,505.000000
50%,1263.000000,2.000000,75.000000,2.000000,5714.285714,575.000000
75%,1690.000000,3.000000,115.000000,3.000000,6936.266925,639.833333
max,30000.000000,16.000000,2200.000000,16.000000,24509.803922,10030.000000

In [48]:
data.isna().sum()

location              0
size                  0
total_sqft            0
bath                  0
price                 0
BHK                   0
price_per_sqft        0
total_sqft_per_bhk    0
dtype: int64

In [49]:
data.head()

,location,size,total_sqft,bath,price,BHK,price_per_sqft,total_sqft_per_bhk
0,1st Block Jayanagar,4 BHK,2850.0,4.0,428.0,4,15017.543860,712.500000
1,1st Block Jayanagar,3 BHK,1630.0,3.0,194.0,3,11901.840491,543.333333
2,1st Block Jayanagar,3 BHK,1875.0,2.0,235.0,3,12533.333333,625.000000
3,1st Block Jayanagar,3 BHK,1200.0,2.0,130.0,3,10833.333333,400.000000
4,1st Block Jayanagar,2 BHK,1235.0,2.0,148.0,2,11983.805668,617.500000

In [50]:
data.drop(columns=['size','price_per_sqft','total_sqft_per_bhk'],inplace=True)

In [51]:
data.head()

              location  total_sqft  bath  price  BHK
0  1st Block Jayanagar      2850.0   4.0  428.0    4
1  1st Block Jayanagar      1630.0   3.0  194.0    3
2  1st Block Jayanagar      1875.0   2.0  235.0    3
3  1st Block Jayanagar      1200.0   2.0  130.0    3
4  1st Block Jayanagar      1235.0   2.0  148.0    2

In [52]:
data.to_csv('cleaned_data.csv')

In [53]:
X=data.drop(columns=['price'])
y=data['price']

In [54]:
X

                  location  total_sqft  bath  BHK
0      1st Block Jayanagar      2850.0   4.0    4
1      1st Block Jayanagar      1630.0   3.0    3
2      1st Block Jayanagar      1875.0   2.0    3
3      1st Block Jayanagar      1200.0   2.0    3
4      1st Block Jayanagar      1235.0   2.0    2
...                    ...         ...   ...  ...
10290         Yeshwanthpur      1195.0   2.0    2
10291         Yeshwanthpur      1692.0   3.0    3
10293         Yeshwanthpur      2500.0   5.0    6
10298         Yeshwanthpur      1855.0   3.0    3
10299         Yeshwanthpur      1876.0   3.0    3

[7151 rows x 4 columns]

In [55]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression,Lasso,Ridge
from sklearn.metrics import r2_score
from sklearn.preprocessing import OneHotEncoder,StandardScaler
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline

C:\Users\uditi\anaconda3\lib\site-packages\scipy\__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.26.2
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [56]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [57]:
print(X_train.shape)
print(y_train.shape)

(5720, 4)
(5720,)

In [58]:
column_trans=make_column_transformer((OneHotEncoder(sparse=False),['location']),
                                    remainder='passthrough')

In [59]:
sc=StandardScaler()

In [60]:
data.describe()

         total_sqft         bath        price          BHK
count   7151.000000  7151.000000  7151.000000  7151.000000
mean    1503.712686     2.455740   100.190092     2.509719
std      875.951503     1.020883    94.339232     0.938014
min      300.000000     1.000000    10.000000     1.000000
25%     1092.000000     2.000000    50.515000     2.000000
50%     1263.000000     2.000000    75.000000     2.000000
75%     1690.000000     3.000000   115.000000     3.000000
max    30000.000000    16.000000  2200.000000    16.000000

In [61]:
lr=LinearRegression(normalize=True)

In [62]:
pipe=make_pipeline(column_trans,sc,lr)

In [63]:
pipe.fit(X_train,y_train)

C:\Users\uditi\anaconda3\lib\site-packages\sklearn\linear_model\_base.py:141: FutureWarning: 'normalize' was deprecated in version 1.0 and will be removed in 1.2.
If you wish to scale the data, use Pipeline with a StandardScaler in a preprocessing stage. To reproduce the previous behavior:

from sklearn.pipeline import make_pipeline

model = make_pipeline(StandardScaler(with_mean=False), LinearRegression())

If you wish to pass a sample_weight parameter, you need to pass it as a fit parameter to each step of the pipeline as follows:

kwargs = {s[0] + '__sample_weight': sample_weight for s in model.steps}
model.fit(X, y, **kwargs)


  warnings.warn(

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse=False),
                                                  ['location'])])),
                ('standardscaler', StandardScaler()),
                ('linearregression', LinearRegression(normalize=True))])

In [64]:
y_pred=pipe.predict(X_test)

In [65]:
print(r2_score(y_test,y_pred))

0.8674369291840918

# LASSO

In [66]:
lasso=Lasso()

In [67]:
pipe_lasso=make_pipeline(column_trans,sc,lasso)
pipe_lasso.fit(X_train,y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse=False),
                                                  ['location'])])),
                ('standardscaler', StandardScaler()), ('lasso', Lasso())])

In [68]:
y_pred_lasso=pipe_lasso.predict(X_test)

In [69]:
print(f'r2_score with lasso is {r2_score(y_test,y_pred_lasso)}')

r2_score with lasso is 0.8599988915092348

In [70]:
ridge=Ridge()

In [71]:
pipeline_ridge=make_pipeline(column_trans,sc,ridge)
pipeline_ridge.fit(X_train,y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse=False),
                                                  ['location'])])),
                ('standardscaler', StandardScaler()), ('ridge', Ridge())])

In [72]:
y_pred_ridge=pipeline_ridge.predict(X_test)

In [73]:
print(f'r2_score with lasso is {r2_score(y_test,y_pred_ridge)}')

r2_score with lasso is 0.8673974869965088

In [74]:
import pickle

In [75]:
pickle.dump(pipeline_ridge,open('RidgeModel.pkl','wb'))

In [76]:
os.listdir()

['.ipynb_checkpoints',
 'Bengaluru_House_Data.csv',
 'cleaned_data.csv',
 'house_prediction.ipynb',
 'RidgeModel.pkl']

In [77]:
help(sklearn)

NameError: name 'sklearn' is not defined

In [78]:

!pip freeze

absl-py==2.0.0
aiohttp @ file:///C:/ci/aiohttp_1646806572557/work
aiosignal @ file:///tmp/build/80754af9/aiosignal_1637843061372/work
alabaster @ file:///home/ktietz/src/ci/alabaster_1611921544520/work
anaconda-client @ file:///C:/ci/anaconda-client_1635342725944/work
anaconda-navigator==2.1.4
anaconda-project @ file:///tmp/build/80754af9/anaconda-project_1637161053845/work
anyio @ file:///C:/ci/anyio_1644481921011/work/dist
appdirs==1.4.4
argon2-cffi @ file:///opt/conda/conda-bld/argon2-cffi_1645000214183/work
argon2-cffi-bindings @ file:///C:/ci/argon2-cffi-bindings_1644551690056/work
arrow @ file:///opt/conda/conda-bld/arrow_1649166651673/work
astroid @ file:///C:/ci/astroid_1628063282661/work
astropy @ file:///C:/ci/astropy_1650634291321/work
asttokens @ file:///opt/conda/conda-bld/asttokens_1646925590279/work
astunparse==1.6.3
async-timeout @ file:///tmp/build/80754af9/async-timeout_1637851218186/work
atomicwrites==1.4.0
attrs @ file:///opt/conda/conda-bld/attrs_1642510447205/work
Automat @ file:///tmp/build/80754af9/automat_1600298431173/work
autopep8 @ file:///opt/conda/conda-bld/autopep8_1639166893812/work
Babel @ file:///tmp/build/80754af9/babel_1620871417480/work
backcall @ file:///home/ktietz/src/ci/backcall_1611930011877/work
backports.functools-lru-cache @ file:///tmp/build/80754af9/backports.functools_lru_cache_1618170165463/work
backports.tempfile @ file:///home/linux1/recipes/ci/backports.tempfile_1610991236607/work
backports.weakref==1.0.post1
bcrypt @ file:///C:/ci/bcrypt_1607022693089/work
beautifulsoup4 @ file:///C:/ci/beautifulsoup4_1650293025093/work
binaryornot @ file:///tmp/build/80754af9/binaryornot_1617751525010/work
bitarray @ file:///C:/ci/bitarray_1648739663053/work
bkcharts==0.2
black==19.10b0
bleach @ file:///opt/conda/conda-bld/bleach_1641577558959/work
bokeh @ file:///C:/ci/bokeh_1638362966927/work
boto3 @ file:///opt/conda/conda-bld/boto3_1649078879353/work
botocore @ file:///opt/conda/conda-bld/botocore_1649076662316/work
Bottleneck @ file:///C:/ci/bottleneck_1648010904582/work
branca==0.7.0
brotlipy==0.7.0
bs4==0.0.1
cachetools @ file:///tmp/build/80754af9/cachetools_1619597386817/work
certifi==2021.10.8
cffi @ file:///C:/ci_310/cffi_1642682485096/work
chardet @ file:///C:/ci/chardet_1607706937985/work
charset-normalizer @ file:///tmp/build/80754af9/charset-normalizer_1630003229654/work
click @ file:///C:/ci/click_1646038595831/work
cloudpickle @ file:///tmp/build/80754af9/cloudpickle_1632508026186/work
clyent==1.2.2
colorama @ file:///tmp/build/80754af9/colorama_1607707115595/work
colorcet @ file:///tmp/build/80754af9/colorcet_1611168489822/work
comtypes==1.1.10
conda==4.12.0
conda-build==3.21.8
conda-content-trust @ file:///tmp/build/80754af9/conda-content-trust_1617045594566/work
conda-pack @ file:///tmp/build/80754af9/conda-pack_1611163042455/work
conda-package-handling @ file:///C:/ci/conda-package-handling_1649106011304/work
conda-repo-cli @ file:///tmp/build/80754af9/conda-repo-cli_1620168426516/work
conda-token @ file:///tmp/build/80754af9/conda-token_1620076980546/work
conda-verify==3.4.2
constantly==15.1.0
cookiecutter @ file:///opt/conda/conda-bld/cookiecutter_1649151442564/work
cryptography @ file:///C:/ci/cryptography_1633520531101/work
cssselect==1.1.0
cycler @ file:///tmp/build/80754af9/cycler_1637851556182/work
Cython @ file:///C:/ci/cython_1647850559892/work
cytoolz==0.11.0
daal4py==2021.5.0
dask @ file:///opt/conda/conda-bld/dask-core_1647268715755/work
datashader @ file:///tmp/build/80754af9/datashader_1623782308369/work
datashape==0.5.4
debugpy @ file:///C:/ci/debugpy_1637091961445/work
decorator @ file:///opt/conda/conda-bld/decorator_1643638310831/work
defusedxml @ file:///tmp/build/80754af9/defusedxml_1615228127516/work
diff-match-patch @ file:///Users/ktietz/demo/mc3/conda-bld/diff-match-patch_1630511840874/work
distributed @ file:///opt/conda/conda-bld/distributed_1647271944416/work
docutils @ file:///C:/ci/docutils_1620828264669/work
entrypoints @ file:///C:/ci/entrypoints_1649926621128/work
et-xmlfile==1.1.0
executing @ file:///opt/conda/conda-bld/executing_1646925071911/work
fastjsonschema @ file:///tmp/build/80754af9/python-fastjsonschema_1620414857593/work/dist
filelock @ file:///opt/conda/conda-bld/filelock_1647002191454/work
flake8 @ file:///tmp/build/80754af9/flake8_1620776156532/work
Flask @ file:///home/ktietz/src/ci/flask_1611932660458/work
flatbuffers==23.5.26
folium==0.15.1
fonttools==4.25.0
frozenlist @ file:///C:/ci/frozenlist_1637767271796/work
fsspec @ file:///opt/conda/conda-bld/fsspec_1647268051896/work
future @ file:///C:/ci/future_1607568713721/work
gast==0.5.4
gensim @ file:///C:/ci/gensim_1646825438310/work
geographiclib==2.0
geojson==3.1.0
geopy==2.4.1
glob2 @ file:///home/linux1/recipes/ci/glob2_1610991677669/work
gmaps==0.9.0
google-api-core @ file:///C:/ci/google-api-core-split_1613980333946/work
google-auth==2.25.2
google-auth-oauthlib==1.2.0
google-cloud-core @ file:///tmp/build/80754af9/google-cloud-core_1625077425256/work
google-cloud-storage @ file:///tmp/build/80754af9/google-cloud-storage_1601307969662/work
google-crc32c @ file:///C:/ci/google-crc32c_1613234249694/work
google-pasta==0.2.0
google-resumable-media @ file:///tmp/build/80754af9/google-resumable-media_1624367812531/work
googleapis-common-protos @ file:///C:/ci/googleapis-common-protos-feedstock_1617957814607/work
greenlet @ file:///C:/ci/greenlet_1628888275363/work
grpcio==1.60.0
h5py @ file:///C:/ci/h5py_1637120894255/work
HeapDict @ file:///Users/ktietz/demo/mc3/conda-bld/heapdict_1630598515714/work
holoviews @ file:///opt/conda/conda-bld/holoviews_1645454331194/work
html5lib==1.1
hvplot @ file:///tmp/build/80754af9/hvplot_1627305124151/work
hyperlink @ file:///tmp/build/80754af9/hyperlink_1610130746837/work
idna @ file:///tmp/build/80754af9/idna_1637925883363/work
imagecodecs @ file:///C:/ci/imagecodecs_1635511087451/work
imageio @ file:///tmp/build/80754af9/imageio_1617700267927/work
imagesize @ file:///tmp/build/80754af9/imagesize_1637939814114/work
importlib-metadata @ file:///C:/ci/importlib-metadata_1648562621412/work
incremental @ file:///tmp/build/80754af9/incremental_1636629750599/work
inflection==0.5.1
iniconfig @ file:///home/linux1/recipes/ci/iniconfig_1610983019677/work
intake @ file:///opt/conda/conda-bld/intake_1647436631684/work
intervaltree @ file:///Users/ktietz/demo/mc3/conda-bld/intervaltree_1630511889664/work
ipykernel @ file:///C:/ci/ipykernel_1646982785443/work/dist/ipykernel-6.9.1-py3-none-any.whl
ipython @ file:///C:/ci/ipython_1648817223581/work
ipython-genutils @ file:///tmp/build/80754af9/ipython_genutils_1606773439826/work
ipywidgets @ file:///tmp/build/80754af9/ipywidgets_1634143127070/work
isort @ file:///tmp/build/80754af9/isort_1628603791788/work
itemadapter @ file:///tmp/build/80754af9/itemadapter_1626442940632/work
itemloaders @ file:///opt/conda/conda-bld/itemloaders_1646805235997/work
itsdangerous @ file:///tmp/build/80754af9/itsdangerous_1621432558163/work
jdcal @ file:///Users/ktietz/demo/mc3/conda-bld/jdcal_1630584345063/work
jedi @ file:///C:/ci/jedi_1644315428289/work
Jinja2 @ file:///tmp/build/80754af9/jinja2_1612213139570/work
jinja2-time @ file:///opt/conda/conda-bld/jinja2-time_1649251842261/work
jmespath @ file:///Users/ktietz/demo/mc3/conda-bld/jmespath_1630583964805/work
joblib @ file:///tmp/build/80754af9/joblib_1635411271373/work
json5 @ file:///tmp/build/80754af9/json5_1624432770122/work
jsonschema @ file:///C:/ci/jsonschema_1650008058050/work
jupyter @ file:///C:/ci/jupyter_1607685287094/work
jupyter-client @ file:///tmp/build/80754af9/jupyter_client_1616770841739/work
jupyter-console @ file:///tmp/build/80754af9/jupyter_console_1616615302928/work
jupyter-contrib-core==0.4.2
jupyter-core @ file:///C:/ci/jupyter_core_1646994619043/work
jupyter-nbextensions-configurator==0.6.3
jupyter-server @ file:///opt/conda/conda-bld/jupyter_server_1644494914632/work
jupyterlab @ file:///opt/conda/conda-bld/jupyterlab_1647445413472/work
jupyterlab-pygments @ file:///tmp/build/80754af9/jupyterlab_pygments_1601490720602/work
jupyterlab-server @ file:///opt/conda/conda-bld/jupyterlab_server_1644500396812/work
jupyterlab-widgets @ file:///tmp/build/80754af9/jupyterlab_widgets_1609884341231/work
keras==2.15.0
keyring @ file:///C:/ci/keyring_1638531673471/work
kiwisolver @ file:///C:/ci/kiwisolver_1644962577370/work
lazy-object-proxy @ file:///C:/ci/lazy-object-proxy_1616529288960/work
libarchive-c @ file:///tmp/build/80754af9/python-libarchive-c_1617780486945/work
libclang==16.0.6
llvmlite==0.38.0
locket @ file:///C:/ci/locket_1647006279389/work
lxml @ file:///C:/ci/lxml_1646642862366/work
Markdown @ file:///C:/ci/markdown_1614364082838/work
MarkupSafe @ file:///C:/ci/markupsafe_1621528502553/work
matplotlib @ file:///C:/ci/matplotlib-suite_1647423638658/work
matplotlib-inline @ file:///tmp/build/80754af9/matplotlib-inline_1628242447089/work
mccabe==0.6.1
menuinst @ file:///C:/ci/menuinst_1631733438520/work
mistune @ file:///C:/ci/mistune_1607359457024/work
mkl-fft==1.3.1
mkl-random @ file:///C:/ci/mkl_random_1626186184308/work
mkl-service==2.4.0
ml-dtypes==0.2.0
mock @ file:///tmp/build/80754af9/mock_1607622725907/work
mpmath==1.2.1
msgpack @ file:///C:/ci/msgpack-python_1612287350784/work
multidict @ file:///C:/ci/multidict_1607349747897/work
multipledispatch @ file:///C:/ci/multipledispatch_1607574329826/work
munkres==1.1.4
mypy-extensions==0.4.3
navigator-updater==0.2.1
nbclassic @ file:///opt/conda/conda-bld/nbclassic_1644943264176/work
nbclient @ file:///C:/ci/nbclient_1650290387259/work
nbconvert @ file:///C:/ci/nbconvert_1649741016669/work
nbformat @ file:///C:/ci/nbformat_1649845125000/work
nest-asyncio @ file:///C:/ci/nest-asyncio_1649829929390/work
networkx @ file:///opt/conda/conda-bld/networkx_1647437648384/work
nltk @ file:///opt/conda/conda-bld/nltk_1645628263994/work
nose @ file:///opt/conda/conda-bld/nose_1642704612149/work
notebook @ file:///C:/ci/notebook_1645002729033/work
numba @ file:///C:/ci/numba_1650394399948/work
numexpr @ file:///C:/ci/numexpr_1640704337920/work
numpy==1.26.2
numpydoc @ file:///opt/conda/conda-bld/numpydoc_1643788541039/work
oauthlib==3.2.2
olefile @ file:///Users/ktietz/demo/mc3/conda-bld/olefile_1629805411829/work
openpyxl @ file:///tmp/build/80754af9/openpyxl_1632777717936/work
opt-einsum==3.3.0
ortools==9.8.3296
packaging @ file:///tmp/build/80754af9/packaging_1637314298585/work
pandas==2.1.4
pandocfilters @ file:///opt/conda/conda-bld/pandocfilters_1643405455980/work
panel @ file:///C:/ci/panel_1650623703033/work
param @ file:///tmp/build/80754af9/param_1636647414893/work
paramiko @ file:///opt/conda/conda-bld/paramiko_1640109032755/work
parsel @ file:///C:/ci/parsel_1646740216444/work
parso @ file:///opt/conda/conda-bld/parso_1641458642106/work
partd @ file:///opt/conda/conda-bld/partd_1647245470509/work
pathspec==0.7.0
patsy==0.5.2
pep8==1.7.1
pexpect @ file:///tmp/build/80754af9/pexpect_1605563209008/work
pickleshare @ file:///tmp/build/80754af9/pickleshare_1606932040724/work
Pillow==9.0.1
pkginfo @ file:///tmp/build/80754af9/pkginfo_1643162084911/work
plotly @ file:///opt/conda/conda-bld/plotly_1646671701182/work
pluggy @ file:///C:/ci/pluggy_1648024580010/work
poyo @ file:///tmp/build/80754af9/poyo_1617751526755/work
prometheus-client @ file:///opt/conda/conda-bld/prometheus_client_1643788673601/work
prompt-toolkit @ file:///tmp/build/80754af9/prompt-toolkit_1633440160888/work
Protego @ file:///tmp/build/80754af9/protego_1598657180827/work
protobuf==4.23.4
psutil @ file:///C:/ci/psutil_1612298199233/work
ptyprocess @ file:///tmp/build/80754af9/ptyprocess_1609355006118/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pure-eval @ file:///opt/conda/conda-bld/pure_eval_1646925070566/work
py @ file:///opt/conda/conda-bld/py_1644396412707/work
pyasn1 @ file:///Users/ktietz/demo/mc3/conda-bld/pyasn1_1629708007385/work
pyasn1-modules==0.2.8
pycodestyle @ file:///tmp/build/80754af9/pycodestyle_1615748559966/work
pycosat==0.6.3
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pyct @ file:///C:/ci/pyct_1613411728548/work
pycurl==7.44.1
PyDispatcher==2.0.5
pydocstyle @ file:///tmp/build/80754af9/pydocstyle_1621600989141/work
pyerfa @ file:///C:/ci/pyerfa_1621560974055/work
pyflakes @ file:///tmp/build/80754af9/pyflakes_1617200973297/work
Pygments @ file:///opt/conda/conda-bld/pygments_1644249106324/work
PyHamcrest @ file:///tmp/build/80754af9/pyhamcrest_1615748656804/work
PyJWT @ file:///C:/ci/pyjwt_1619682721924/work
pylint @ file:///C:/ci/pylint_1627536884966/work
pyls-spyder==0.4.0
PyNaCl @ file:///C:/ci/pynacl_1607612759007/work
pyodbc @ file:///C:/ci/pyodbc_1647426110990/work
pyOpenSSL @ file:///tmp/build/80754af9/pyopenssl_1635333100036/work
pyparsing @ file:///tmp/build/80754af9/pyparsing_1635766073266/work
pyreadline==2.1
pyrsistent @ file:///C:/ci/pyrsistent_1636093225342/work
PySocks @ file:///C:/ci/pysocks_1605307512533/work
pytest==7.1.1
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
python-lsp-black @ file:///tmp/build/80754af9/python-lsp-black_1634232156041/work
python-lsp-jsonrpc==1.0.0
python-lsp-server==1.2.4
python-slugify @ file:///tmp/build/80754af9/python-slugify_1620405669636/work
python-snappy @ file:///C:/ci/python-snappy_1610133405910/work
pytz==2021.3
pyviz-comms @ file:///tmp/build/80754af9/pyviz_comms_1623747165329/work
PyWavelets @ file:///C:/ci/pywavelets_1648728084106/work
pywin32==302
pywin32-ctypes @ file:///C:/ci/pywin32-ctypes_1607553594546/work
pywinpty @ file:///C:/ci_310/pywinpty_1644230983541/work/target/wheels/pywinpty-2.0.2-cp39-none-win_amd64.whl
PyYAML==6.0
pyzmq @ file:///C:/ci/pyzmq_1638435148211/work
QDarkStyle @ file:///tmp/build/80754af9/qdarkstyle_1617386714626/work
qstylizer @ file:///tmp/build/80754af9/qstylizer_1617713584600/work/dist/qstylizer-0.1.10-py2.py3-none-any.whl
QtAwesome @ file:///tmp/build/80754af9/qtawesome_1637160816833/work
qtconsole @ file:///opt/conda/conda-bld/qtconsole_1649078897110/work
QtPy @ file:///opt/conda/conda-bld/qtpy_1649073884068/work
queuelib==1.5.0
regex @ file:///C:/ci/regex_1648447888413/work
requests @ file:///opt/conda/conda-bld/requests_1641824580448/work
requests-file @ file:///Users/ktietz/demo/mc3/conda-bld/requests-file_1629455781986/work
requests-oauthlib==1.3.1
rope @ file:///opt/conda/conda-bld/rope_1643788605236/work
rsa @ file:///tmp/build/80754af9/rsa_1614366226499/work
Rtree @ file:///C:/ci/rtree_1618421015405/work
ruamel-yaml-conda @ file:///C:/ci/ruamel_yaml_1616016898638/work
s3transfer @ file:///tmp/build/80754af9/s3transfer_1626435152308/work
scikit-image @ file:///C:/ci/scikit-image_1648214340990/work
scikit-learn @ file:///C:/ci/scikit-learn_1642617276183/work
scikit-learn-intelex==2021.20220215.102710
scipy @ file:///C:/ci/scipy_1641555170412/work
Scrapy @ file:///C:/ci/scrapy_1646837986255/work
seaborn @ file:///tmp/build/80754af9/seaborn_1629307859561/work
Send2Trash @ file:///tmp/build/80754af9/send2trash_1632406701022/work
service-identity @ file:///Users/ktietz/demo/mc3/conda-bld/service_identity_1629460757137/work
sip==4.19.13
six @ file:///tmp/build/80754af9/six_1644875935023/work
smart-open @ file:///tmp/build/80754af9/smart_open_1623928409369/work
sniffio @ file:///C:/ci/sniffio_1614030527509/work
snowballstemmer @ file:///tmp/build/80754af9/snowballstemmer_1637937080595/work
sortedcollections @ file:///tmp/build/80754af9/sortedcollections_1611172717284/work
sortedcontainers @ file:///tmp/build/80754af9/sortedcontainers_1623949099177/work
soupsieve @ file:///tmp/build/80754af9/soupsieve_1636706018808/work
Sphinx @ file:///opt/conda/conda-bld/sphinx_1643644169832/work
sphinxcontrib-applehelp @ file:///home/ktietz/src/ci/sphinxcontrib-applehelp_1611920841464/work
sphinxcontrib-devhelp @ file:///home/ktietz/src/ci/sphinxcontrib-devhelp_1611920923094/work
sphinxcontrib-htmlhelp @ file:///tmp/build/80754af9/sphinxcontrib-htmlhelp_1623945626792/work
sphinxcontrib-jsmath @ file:///home/ktietz/src/ci/sphinxcontrib-jsmath_1611920942228/work
sphinxcontrib-qthelp @ file:///home/ktietz/src/ci/sphinxcontrib-qthelp_1611921055322/work
sphinxcontrib-serializinghtml @ file:///tmp/build/80754af9/sphinxcontrib-serializinghtml_1624451540180/work
spyder @ file:///C:/ci/spyder_1636480369575/work
spyder-kernels @ file:///C:/ci/spyder-kernels_1634237096710/work
SQLAlchemy @ file:///C:/ci/sqlalchemy_1647600017103/work
stack-data @ file:///opt/conda/conda-bld/stack_data_1646927590127/work
statsmodels==0.13.2
sympy @ file:///C:/ci/sympy_1647853873858/work
tables==3.6.1
tabulate==0.8.9
TBB==0.2
tblib @ file:///Users/ktietz/demo/mc3/conda-bld/tblib_1629402031467/work
tenacity @ file:///C:/ci/tenacity_1626248381338/work
tensorboard==2.15.1
tensorboard-data-server==0.7.2
tensorflow==2.15.0
tensorflow-estimator==2.15.0
tensorflow-intel==2.15.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.4.0
terminado @ file:///C:/ci/terminado_1644322780199/work
testpath @ file:///tmp/build/80754af9/testpath_1624638946665/work
text-unidecode @ file:///Users/ktietz/demo/mc3/conda-bld/text-unidecode_1629401354553/work
textdistance @ file:///tmp/build/80754af9/textdistance_1612461398012/work
threadpoolctl @ file:///Users/ktietz/demo/mc3/conda-bld/threadpoolctl_1629802263681/work
three-merge @ file:///tmp/build/80754af9/three-merge_1607553261110/work
tifffile @ file:///tmp/build/80754af9/tifffile_1627275862826/work
tinycss @ file:///tmp/build/80754af9/tinycss_1617713798712/work
tldextract @ file:///opt/conda/conda-bld/tldextract_1646638314385/work
toml @ file:///tmp/build/80754af9/toml_1616166611790/work
tomli @ file:///tmp/build/80754af9/tomli_1637314251069/work
toolz @ file:///tmp/build/80754af9/toolz_1636545406491/work
tornado @ file:///C:/ci/tornado_1606924294691/work
tqdm @ file:///C:/ci/tqdm_1650636210717/work
traitlets @ file:///tmp/build/80754af9/traitlets_1636710298902/work
Twisted @ file:///C:/ci/twisted_1646835413846/work
twisted-iocpsupport @ file:///C:/ci/twisted-iocpsupport_1646798932792/work
typed-ast @ file:///C:/ci/typed-ast_1624953797214/work
typing_extensions @ file:///opt/conda/conda-bld/typing_extensions_1647553014482/work
tzdata==2023.3
ujson @ file:///C:/ci/ujson_1648044223886/work
Unidecode @ file:///tmp/build/80754af9/unidecode_1614712377438/work
urllib3 @ file:///C:/ci/urllib3_1650639883891/work
w3lib @ file:///Users/ktietz/demo/mc3/conda-bld/w3lib_1629359764703/work
watchdog @ file:///C:/ci/watchdog_1638367441841/work
wcwidth @ file:///Users/ktietz/demo/mc3/conda-bld/wcwidth_1629357192024/work
webencodings==0.5.1
websocket-client @ file:///C:/ci/websocket-client_1614804375980/work
Werkzeug @ file:///opt/conda/conda-bld/werkzeug_1645628268370/work
widgetsnbextension @ file:///C:/ci/widgetsnbextension_1644991377168/work
win-inet-pton @ file:///C:/ci/win_inet_pton_1605306162074/work
win-unicode-console==0.5
wincertstore==0.2
wrapt @ file:///C:/ci/wrapt_1607574570428/work
xarray @ file:///opt/conda/conda-bld/xarray_1639166117697/work
xgboost==2.0.2
xlrd @ file:///tmp/build/80754af9/xlrd_1608072521494/work
XlsxWriter @ file:///opt/conda/conda-bld/xlsxwriter_1649073856329/work
xlwings==0.24.9
xyzservices==2023.10.1
yapf @ file:///tmp/build/80754af9/yapf_1615749224965/work
yarl @ file:///C:/ci/yarl_1606940155993/work
zict==2.0.0
zipp @ file:///opt/conda/conda-bld/zipp_1641824620731/work
zope.interface @ file:///C:/ci/zope.interface_1625036252485/work

In [80]:
import sklearn
print(sklearn.__version__)

1.0.2